
.navbar {
  background-color:#132257;
  border-color:#132257;
}

.navbar-brand {
  color:white!important;
}

.navbar-default .navbar-nav > li > a {
  color:white!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color:#7593fa!important;
}

 #header.fluid-row::before {
   content: "";
   height: 150px;
   width: 150px;
   float: right;
   background-image: .images/learys-bar-logo.jpeg;
   background-size: contain;
   background-position: center center;
   background-repeat: no-repeat;
 }
